#chatview {
  width: 100%;
  height: 100%;
  display: flex;
  & > aside {
    flex: 0 0 300px;
    height: 100%;
    border-right: 2px solid white;
  }
}
#chatbox {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex: 1;
  flex-direction: column;

  h1.title {
    text-align: center;
    padding: 1rem;
  }

  .chatbox-messages {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: scroll;

    .chat-spacer {
      flex: 1 0 100px;
      width: 100%;
      background-color: transparent;
    }
  }

  form#chat-form {
    justify-self: flex-end;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;

    textarea#chat-input {
      font-weight: 600;
      width: 80%;
      color: #626567;
      padding: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }
    input#name-input {
      padding: 0 1rem;
      width: 50%;
    }
    .submit-btn {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.164);
      }
    }
  }
}
